.row{
    height: 100%;
    display: flex;
}

.left{
    width: 50%; 
    float: left;
}

.right{
    width: 50%; 
    float: right;
}

.airlinePic1{
    width: 20%;
    height: auto;
    margin-left: 2%;
}


.idFlightTxt{
    margin: 5%;
}

.contentFlightRes{
  background-color: rgb(138, 179, 236);
  /* border: 15px solid rgb(162, 162, 162); */
  padding: 50px;
  margin: 3%;
  border-radius: 15%;
}
