.topC2{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.reserv{
    width: 80%;
    border-radius: 20px;
    display: flex;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.336);;
    background-color: rgb(107, 107, 202, 0.5);
    flex-direction: column;
    padding-bottom: 40px;
    top: 10%;
    left: 10%;
    right: 10%;


   
}

.fieldset{
    float: left;
    display: flex;
    width: 100%;
    border-radius: 20px;
    justify-content: space-around; 
    
}
.clicked{
    /* animation: fade 1s ease-in; */
    transition: all 0.5s linear;
    visibility: visible;
    opacity: 1;
    flex-direction: row;
    float: left;
    display: block;
    width: 100%;
    border-radius: 20px;
    /* justify-content: space-around;  */
   
    
}
.clicked>h3{
    /* animation: fade 1s ease-in; */
    width: 50%;
   
    
}
.buscar{
    padding-top: 20px;
    width: 100%;
    align-items: center;
}
#buscar{

    width: 20%;
}
.notClicked{
    /* animation: fade 1s ease-out; */
    transition: all 0.5s linear;
    opacity: 0;
    flex-direction: row;
    visibility: hidden;
    width: 100%;
    border-radius: 20px;
    justify-content: space-around; 
    
}

.title1{
    display: block;
    float: left;
    width: 100%;
}
