.dataContainer form input{
    width: 100px;
    border-style: solid;
    
    border-color: black;
 
    
}
.natC{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.data{
    width: 70%;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.336);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(107, 107, 202, 0.5);
    border-radius: 20px;
}
.dataContainer{
    display: flex;
    flex-direction: column;

}
.subm1{
    padding: 10px;
}
.littleCont{
    width: 45%;
    background-color: rgba(255, 255, 255, 0.418);
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
}
input[type=text] {
    width: 80%!important;
    height: 2em;
    border-radius: 4px;
    margin: 5px
  }
  ::-webkit-input-placeholder {
    color: rgba(98, 98, 99, 0.959);
  }
  input[type=button], input[type=submit], input[type=reset] {
    background-color: rgba(128, 128, 128, 0.699);
    border: none;
    color: white;
   height: 50px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
