.row{
    height: 100%;
    display: flex;
}

.left{
    width: 50%; 
    float: left;
}

.right{
    width: 50%; 
    float: right;
}

.airlinePic1{
    width: 20%;
    height: auto;
    margin-left: 2%;
}


.idFlightTxt{
    margin: 5%;
    font-size: 30px;
}

.fechasDiv {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.418);
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    display: block;
    margin-bottom: 2%;
    padding: 1%;
}

input[type=checkbox] {
    width: 100%!important;
    margin-top: 1%;
    height: 40px;
  }

.contentFlightRes{
  background-color: rgb(107, 107, 202, 0.5);
  padding: 2%;
  margin: 3%;
  border-radius: 15%;
  border-style: solid;
  border-width: 3px;
  border-color: rgba(0, 0, 0, 0.336);
}

.priceBox{
    width: 55%;
    background-color: rgba(255, 255, 255, 0.418);
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
    display: inline-block;
}

p {
    font-size:18px;
}

label {
    font-size: 20px;
}

.reservButton {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    margin-left: 25%;
}

.reservButton:hover {
    background-color: rgba(255, 0, 0, 1);
}

.reservButton:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.cornerRight{
    display: inline-flex;
}

input:read-only,
textarea:read-only {
  background-color: rgba(255, 255, 255, 0.418);
  border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
   width: fit-content;
}
